nav > ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;
}

nav > ul > li {
	display: block;
	position: relative;
	margin: .5vh .25vw;
}

.menu a, .menu a:visited {
	display: block;
	color: black;
	text-decoration: none;
	white-space: nowrap;
	padding: 2px 8px;
}

header > a {
	color: white;
	text-decoration: none;
}

header > a:hover {
	text-decoration: underline;
}

.menu{
	vertical-align: top;
}

.menu a:hover {
	color: white;
	text-decoration: underline;
}

.nav {
	background-color: black;
	border: 5px outset;
}

a.home, a.leah, a.evan, a.dan {
	border-style: outset;
	border-color: white;
	padding: 2%;
	color: black;
}

a.home:hover, a.leah:hover, a.evan:hover, a.dan:hover {
	border-style: inset;
	color: white;
}

.menu a.is-current {
	color: white;
	border-style: inset;
}
