@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
	color: #163440;
	/**display: grid;**/
	grid-template-columns: 20% auto 20%;
}

/**body > * {
	grid-column-start: 2;
	grid-column-end: 2;
}**/

form { 
	display: grid;
	grid-template-columns: 7em auto;
}

form > label {
	grid-column-start: 1;
	grid-column-end: 1;
}

form > input {
	grid-column-start: 2;
	grid-column-end: 3;
}

form > div, form > input[type=submit] {
	grid-column-start: 1;
	grid-column-end: 3;
}

form > div {
	text-align: right;
}

form > input[type=file] {
	background-color: #ffffff;
	border: 1px solid #595959;
}

body > div {
	padding: 1em;
	background-color: #0e304c;
}

th, td {
	padding: 6px 15px 6px 15px;
}

th {
	background-color: #56c4cf;
	text-align: center;
}

td {
	background-color: #ffffff;
}

th, td {
	border: 1px solid black;
  }

a {
	color: black;
	background: rgb(239, 239, 239);
	padding: 2px 5px 2px 5px;
}

table a {
	background-color: #56c4cf;		
}

.navbar-light .navbar-brand{
	color: white;
	font-size: 32px;
	font-family:'Roboto Slab', serif;
	font-weight: bolder;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
}

.navbar{
border-bottom: 7px solid #56c4cf;
background-color: #0e304c;
color: black;
}

#navbarNav{
	flex-direction: row-reverse;
}

.bg-dark{
	background-color: #0e304c;
}

nav, div{
	font-family: 'Roboto', sans-serif;
}

.my-3{
	margin-bottom: 0!important;
}

.col{
	text-align: center;
}

.bg-light {
    background-color: #0e304c!important;
}

footer {
    background-color: #0e304c;
    color: white;
	border-top: 7px solid #56c4cf;
}

#sticky-footer {
	flex-shrink: none;
  }
  
.line{
	border-bottom: 1px solid #c1c1c1;
	font-weight: bolder;
	font-size: 24px;
	padding-top: 18px;
}

.current{
	background-color:#0e304c;
	padding: 12px 30px 12px 40px;
	border-radius: 0 100px 100px 0;
	margin-left: -20px;
	color: whitesmoke;
	font-family: sans-serif;
	font-size: 14px;
}

.home{
	background-color: #56c4cf;
	padding: 12px 30px 12px 40px;
	color: whitesmoke;
	border-radius: 0 100px 100px 0;
	font-family: sans-serif;
	font-size: 14px;
}

.leah,.dan,.evan{
	background-color: #da5c18e0;
	color: white;
	display: block;
	text-decoration: none;
	padding: 10px;
	margin: 20px;
	margin-left: 40px;
	margin-right: 40px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
}

.dan{
	margin-bottom: 130px;
}
h3{
	font-weight: bolder;
	padding-top: 17px;
}

@media (min-width: 992px){
.cancel{
    max-width: 960px;
}}

.cancel{
	margin-right: auto;
    margin-left: auto;
}

.kim{
	margin: 0 auto;
    max-width: 1100px;
    width: 95%;
}