@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
	margin: 1em;
	color: #163440;
	/**display: grid;**/
	grid-template-columns: 20% auto 20%;
}

/**body > * {
	grid-column-start: 2;
	grid-column-end: 2;
}**/

form { 
	display: grid;
	grid-template-columns: 7em auto;
}

form > label {
	grid-column-start: 1;
	grid-column-end: 1;
}

form > input {
	grid-column-start: 2;
	grid-column-end: 3;
}

form > div, form > input[type=submit] {
	grid-column-start: 1;
	grid-column-end: 3;
}

form > div {
	text-align: right;
}

form > input[type=file] {
	background-color: #ffffff;
	border: 1px solid #595959;
}

body > div {
	padding: 1em;
	background-color: #0e304c;
}

th, td {
	padding: 6px 15px 6px 15px;
}

th {
	background-color: #CCDA9A;
	text-align: center;
}

td {
	background-color: #ffffff;
}

a {
	color: black;
	background: rgb(239, 239, 239);
	border-width: 1px;
    border-style: outset;
	border-color: #595959;
	padding: 2px 5px 2px 5px;
}

table a {
	background-color: #CCDA9A;		
}

.navbar-light .navbar-brand{
	color: black;
	font-size: 30px;
	font-family:'Roboto Slab', serif;
	font-weight: bolder;
	text-align: center;
}

.bg-light{
	background-color: #0e304c;
}

.navbar{
border-bottom: 7px solid #56c4cf;
background-color: #0e304c;
color: black;
}

.bg-dark{
	background-color: #0e304c;
}

nav, div{
	font-family: 'Roboto', sans-serif;

}