@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*******************************
Basic Styles
*******************************/
body {
	margin: 0;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}
header {
	background-color: #0e304c;
	border-bottom: 7px solid #56c4cf;
}
footer {
	background-color: #0e304c;
	color: white;
	border-top: 7px solid #56c4cf;
	margin-top: 10px;
}
h1 {
	font-family: 'Roboto Slab', serif;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
header a {
	text-decoration: none;
	color: white;
}
header a:hover {
	color: #c1c1c1;
}
footer p {
	margin-bottom: 0;
	margin-top: 0px;
	padding: 20px;
}

/*******************************
Layout Styles
*******************************/
.container {
	margin: 0 auto;
	max-width: 1100px;
	width: 95%;
}

.glayout{
	display: grid;
	grid-template-columns: repeat(13, minmax(0, 1fr));
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

/*******************************
Breadcrumb Navigation
*******************************/
#cssmenu .container {
	position: relative;
}
#cssmenu ul {
    display: flex;  
    list-style-type: none;
    flex-direction: row-reverse;
    margin: 10px;
    left: 0;
    justify-content: flex-start;

}
#cssmenu ul li a {
    display: inline-block;
    font-family: sans-serif;
    font-size: 0.9em;
    padding: 12px 30px 12px 40px; /* Adjusting padding to get the proper space */
    margin-left: -20px; /* Pull the items to the left, so the rounded right side will get over them */
    color: white;
    background-color: #56c4cf;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0 100px 100px 0; /* Get the right side rounded */
    box-shadow: 17px 0px 16px 0px rgba(0,0,0,0.12);
}
#cssmenu ul li a:hover {

}
#cssmenu ul li:first-of-type a {
	background-color:  #0e304c ;
}
/*******************************
F pattern Styles
*******************************/
article h2 {
	border-bottom: 1px solid #c1c1c1;
	
}
article section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	align-items: center;

}
article section img {
	float: left;
	margin-right: 20px;
}
/*******************************
	Webpage Links Styles
*******************************/
article section .links a{
	display: block;
	text-decoration: none;
	color: black;
	padding: 12px;
	margin: 15px;
	border-radius: 5px;
	text-align: center;
	border: 1px solid black;
}
article section .links a:first-of-type {
	background-color: #a5cd39;
}
article section .links a:first-of-type:hover {
	background-color: #7da611;
}
article section .links a:last-of-type:hover {
	background-color: #e8e8e8;
}
article section .links {
	margin-right: 20px;
}

/*******************************
Student Page Styles
*******************************/
.boxy{
	margin-bottom:0px;
	display:block;
	padding: 30px;
	border-radius: 20px
}

.intro{
	grid-column: 1/6;
	grid-row: 1/3;
	text-align: center;
	background-color: #F48245;
}

.intro p{
	text-align: left;
}

.elife{
	grid-column: 6/14;
	grid-row: 1/3;
	background-color: #F5928C;
}

.courses{
	grid-column: 6/14;
	grid-row: 3/4;
	background-color: #A37275;
}

.extrac{
	grid-column: 1/6;
	grid-row:3/4;
	background-color: #7670B2;
}
.propic{
	float: none;
	display: block;
}


