@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Roboto");

/*******************************
Basic Styles
*******************************/
body {
  margin: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #0e304c;
  border-bottom: 7px solid #56c4cf;
}
footer {
  background-color: #0e304c;
  color: white;
  border-top: 7px solid #56c4cf;
  margin-top: 10px;
}
h1 {
  font-family: "Roboto Slab", serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
header a {
  text-decoration: none;
  color: white;
}
header a:hover {
  color: #c1c1c1;
}
footer p {
  margin-bottom: 0;
  margin-top: 0px;
  /*padding: 20px;*/
}

/*******************************
Layout Styles
*******************************/
.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 95%;
}

.gcontainer {
  margin: 0 auto;
  width: 62.5%;
  max-width: 1400px;
}

.glayout {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 20px;
}

/*******************************
Breadcrumb Navigation
*******************************/
#cssmenu .container {
  position: relative;
}
#cssmenu ul {
  display: flex;
  list-style-type: none;
  flex-direction: row-reverse;
  margin: 14px;
  left: 0;
  justify-content: flex-start;
}
#cssmenu ul li a,
#cssmenu ul .current {
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.9em;
  padding: 12px 30px 12px 40px; /* Adjusting padding to get the proper space */
  margin-left: -20px; /* Pull the items to the left, so the rounded right side will get over them */
  color: white;
  background-color: #56c4cf;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 100px 100px 0; /* Get the right side rounded */
}
#cssmenu ul li a {
  box-shadow: 17px 0px 16px 0px rgba(0, 0, 0, 0.12);
}
#cssmenu ul .current {
  background-color: #0e304c;
}
#cssmenu ul a:hover {
  background-color: #3b878f;
}
/*******************************
F pattern Styles
*******************************/
article h2 {
  border-bottom: 1px solid #c1c1c1;
}
article section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

article section img {
  float: left;
  margin-right: 20px;
}
/*******************************
	List.php Links Styles
*******************************/
.db-link,
.page-link {
  display: block;
  text-decoration: none;
  padding: 12px;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
}

.delete {
  background-color: rgb(245, 55, 55);
  color: white;
}
.delete:hover {
  background-color: rgb(187, 13, 13);
}

.edit,
.add {
  background-color: #56c4cf;
  color: white;
}

.edit:hover,
.add:hover {
  background-color: #3b878f;
}
/* .db-link {
  background-color: white;
  color: black;
}
.db-link:hover {
  background-color: #e8e8e8;
} */
.page-link {
  background-color: #da5c18e0;
  color: white;
}
.page-link:hover {
  background-color: #cf500c;
}
.links {
  margin-right: 20px;
}

/*******************************
Student Page Styles
*******************************/
.student-page h1 {
  color: white;
}

.boxy {
  margin-bottom: 0px;
  display: block;
  padding: 30px;
  border-radius: 20px;
  color: #ffffff;
}

.boxy h2 {
  opacity: 95%;
  font-family: "Roboto Slab", serif;
}

.boxy p {
  opacity: 95%;
  line-height: 150%;
}

.intro {
  grid-column: 1/6;
  grid-row: 1/3;
  text-align: center;
  background-color: #ce9377;
  margin-top: 20px;
}

.intro p {
  text-align: left;
}

.elife {
  grid-column: 6/14;
  grid-row: 1/3;
  background-color: #e69893;
  margin-top: 20px;
}

.courses {
  grid-column: 6/14;
  grid-row: 3/4;
  background-color: #78749c;
}

.extrac {
  grid-column: 1/6;
  grid-row: 3/4;
  background-color: #9c7174;
}
.propic {
  float: none;
  display: block;
  margin: auto;
  opacity: 90%;
}

.reverse {
  transform: scaleX(-1);
}

/*.student-page */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.student-page a {
  color: #ffffff;
  text-decoration: none;
}
.student-page a:hover {
  color: gray;
}
.student-page main {
  margin-bottom: 50px;
}
.list main {
  margin-bottom: 90px;
}
