
body {
	margin: 0;
	background-color: #152f44
}
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 1100px;
}
.static {
	position: fixed;
	left: 0;
	width: 100%;
}
header.static { top: 0; }
footer.static { bottom: 0; }
header .container, footer .container { 
	display: flex;
	justify-content: space-between;
}
header {
	background-color: white;
	border-bottom: 7px solid #56c4cf;
	display: block;
}
footer {
	background-color: white;
	border-top: 7px solid #56c4cf;
	display: block;
}
.center {
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}




