@import url('https://fonts.googleapis.com/css?family=Courier+New');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*******************************
Basic Styles
*******************************/
body {
	margin: 0;
	background-color: #152f44;
	font-family: 'Roboto', sans-serif;
}
header {
	background-color: white;
	border-bottom: 7px solid #56c4cf;
	display: block;
}
footer {
	background-color: white;
	border-top: 7px solid #56c4cf;
	display: block;
}
h1 {
	font-family: 'Courier New', serif;
}


/*******************************
Layout
*******************************/
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 1200px;
}
.static {
	position: fixed;
	left: 0;
	width: 100%;
}
header.static { top: 0; }
footer.static { bottom: 0; }
header .container, footer .container { 
	display: flex;
	justify-content: space-between;
}
.center {
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*******************************
Weak Fallow Area
******************************/
ul.weak-fallow {
	list-style-type: none;
	display: flex;
} 
ul.weak-fallow li {
	padding: 0 30px 30px 30px;
	max-width: 250px;
	text-align: center;
}
ul.weak-fallow div {
	color: #3b878f;
	margin: 20px;
	font-size: 25px;
}
ul.weak-fallow li:nth-of-type(1), ul.weak-fallow li:nth-of-type(2) {
	border-right: 1px solid #c1c1c1;
}
/*******************************
Terminal Area
******************************/



