body {
	background-color: black;
	color: white;
	/* margin: 0; */
}

.container{
	margin: 0 auto;
	max-width: 960px;
	font-size: 0;
	font-family: "Pangolin", cursive;

}

.intro{
	width: auto;
	text-align: center;
	font-size: 20px;
}

header{
	vertical-align: top;
}

nav{
	font-size: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
  }

main{
	margin: auto;
	width: 85%;
	font-size: 20px;
	padding: 2%;
}

main > article > header {
	text-align: center;
}

article{
	border-style: solid;
	border-color: rgb(94, 97, 97);
	padding: 5%;
}

h2{
	display: inline;
}

a{
	text-align: center;
	display:inline-block;
}

li{
	padding-bottom: 4px;
}

.home {
	border: 5px outset;
	background-color: #E92A28;
}

.michael {
	border: 5px outset;
	background-color: #FFCB4C;
}

.eunlim {
	border: 5px outset;
	background-color: #5B8F3F;
}

.dan {
	border: 5px outset;
	background-color: #226698;
}

figure {
	text-align: center;
}

a {
	color: white;
}

footer{
	font-size: 16px;
	text-align: center;
}
